body {
  background-color: black;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
/*   margin-top: 10%; */
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
  height: 400px;
  width: 600px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/049/464/828/non_2x/vibrant-autumn-scenery-rolling-hills-red-and-yellow-leaves-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 450px;
  width: 600px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: darkorange;
/*   font-size: 10px; */
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}